# Composer
/vendor/
composer.lock

# PHPUnit
.phpunit.result.cache
/coverage/

# IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
.DS_Store

# Environment
.env
.env.local
.env.*.local

# Logs
*.log

# OS
Thumbs.db
